<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.QuestionMapper">


    <resultMap id="questionResultMap" type="question">
        <result column="q_no" property="qNo"></result>
        <result column="title" property="qTitle"></result>
    </resultMap>

    <resultMap id="QforInsertResultMap" type="QforInsert">
        <result column="q_no" property="qNo"></result>
        <result column="title" property="qTitle"></result>
    </resultMap>

</mapper>